$primary-color: #0086d7;
$secondary-color: #cfecf7;
$accent-color: #ef7d00;

$bg-color: #f8f8f8;
$text-color: #000000;

$red-color: #e84258;
$orange-color: #fd8060;
$yellow-color: #fee191;
$green-color: #b0d8a4;
